<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    


    <title>Technology Central</title>

</head>

{{!-- MAIN --}}
<body>

    <div class="flex-column justify-space-around">

        {{!-- Navigation Bar --}}
        <header class="header-style">
            <nav class="nav-bar mb-3">

                <a href="/">Home</a>
                
                {{!-- The Home Page will differ depending on whether the user is logged in --}}
                  {{#if logged_in}}
               
                <a href="/dashboard">Dashboard</a>
                 <a> Logged in as {{logged_name}}</a>
                <a href="/" id="logout">Logout</a>
                
                {{else}}
                <a href="/login">Login</a>

                {{/if}}

            </nav>

           {{!-- Heading --}}
            <div class="header-box">
                <a href="/" class="header-text">Technology Central</a>
            </div>
              <p> A place to get together to discuss technology</p>
        </header>


        {{!-- This is where the blog posts will go --}}
        <main class="container container-fluid mt-5">

            {{{ body }}}

        </main>

    </div>


    {{!-- Script files --}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {{#if logged_in}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>