
{{!-- Render posts to page --}}
{{#if posts.length}}
{{#each posts as |post|}}


<a href="/dashboard/edit/{{id}}">
    <div class="card dashboard-card">
        <div class="list-item">
            <div class="card-header">
                <span>{{post.title}}</span>
                <span class="float-right">Date posted: {{format_date date_created}}</span>
            </div>
            <div class="card-body content-card">
                {{post.content}}
            </div>
        </div>
    </div>
</a>

{{/each}}
{{/if}}


<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <a type="button" class="btn blue" href="/dashboard/newpost"> + New Post </a>
    </div>
</div>